/* 
    Document   : natuurbrandmodel
    Created on : 16-mei-2013, 13:55:10
    Author     : johnp
    Description:
        Purpose of the stylesheet follows.
*/

.g-actie-knop {
    width: 100%
}

/* volgende 2 zijn nodig voor modifyfeature in editing toolbar */
.olControlEditingToolbar .olControlModifyFeatureItemInactive { 
    background-position: -1px -1px;
}

.olControlEditingToolbar .olControlModifyFeatureItemActive { 
    background-position: -1px -24px;
}

