/* 
    Document   : natuurbrandmodel
    Created on : 16-mei-2013, 13:55:10
    Author     : johnp
    Description:
        Purpose of the stylesheet follows.
*/


.g-legendgraphic {
    border-left: 2px solid #bbb;
    margin-left: 0.5em;
    padding-left: 2px;
    overflow: hidden;
}
.g-legendgraphic img {
    /*float: right;*/
}

li .x-tree-node {
    display: inline;
}

.g-actie-knop {
    width: 100%;
    padding-bottom: 4px;
}

/* volgende 2 zijn nodig voor modifyfeature in editing toolbar */
.olControlEditingToolbar .olControlModifyFeatureItemInactive { 
    background-position: -1px -1px;
}

.olControlEditingToolbar .olControlModifyFeatureItemActive { 
    background-position: -1px -24px;
}

/* volgende 2 zijn nodig voor measure in editing toolbar */
.olControlEditingToolbar .olControlMeasureItemInactive { 
    /*background-position: -1px -1px;*/
    background-image: url("img/MeasureDisable.png");
}

.olControlEditingToolbar .olControlMeasureItemActive { 
    /*background-position: -1px -24px;*/
    background-image: url("img/MeasureEnable.png");
}

.olControlCustomToolbar { /* voor navigationhistory */
    margin: 5px 5px 0 0;
    left: 50px;
}

.olControlNavigationHistory { /* prev/next knoppen */
    float: right;
    margin: 0 0 5px 5px;
}

/* niet gevonden tiles */
.olImageLoadError {
    background-color: transparent;
}

.i18n {
    /* dummy rule voor vertalingen */
}

.GmiControlSessionHistory {
    float: right;
    margin: 0 0 5px 5px;
    height: 24px;
    width: 24px;
}
