[submodule "externals/openlayers"]
	path = externals/openlayers
	url = https://github.com/openlayers/openlayers.git
[submodule "externals/gxp"]
	path = externals/gxp
	url = https://github.com/opengeo/gxp.git
[submodule "externals/printpreview"]
	path = externals/printpreview
	url = https://github.com/opengeo/PrintPreview.git
